#Python Einf√ºhrung
#Erste Anweisung

In [46]:
print("Hello World")

Hello World

In [47]:
# Das ist ein Kommentar
print("Something")

Something

In [48]:
name = "Lovelace"

In [49]:
print(name)

Lovelace

In [50]:
age = 73
print(age)

73

In [51]:
size = 1.7123
print(age)

73

In [52]:
alter = "73"

In [53]:
type(age)

int

In [54]:
type(alter)

str

In [55]:
type(size)

float

In [56]:
age + size

74.7123

In [57]:
alter + alter

'7373'

In [58]:
str(alter)

'73'

In [59]:
age + int(alter)

146

In [60]:
knows_math = True
print(knows_math)
likes_slacking = False
print(likes_slacking)

True
False

In [61]:
age * 100

7300

In [62]:
age / 100

0.73

In [63]:
name * 10

'LovelaceLovelaceLovelaceLovelaceLovelaceLovelaceLovelaceLovelaceLovelaceLovelace'

In [64]:
len(name)

8

In [65]:
name

'Lovelace'

In [66]:
name.upper()

'LOVELACE'

In [67]:
name_capital = name.upper()
print(name_capital)

LOVELACE

In [68]:
name.count("e")

2

In [69]:
name.replace("lace", " is every where")

'Love is every where'

In [70]:
name.upper

In [71]:
name.find("l")

4

In [72]:
name

'Lovelace'

In [73]:
name.find("l")

4

In [74]:
name.replace?

In [75]:
print?

# Container: Listen und Dictionaries

In [76]:
names = ["Lovelace", "Darwin", "Curie", "Hawking"]

In [77]:
names[2]

'Curie'

In [78]:
names[0]

'Lovelace'

In [79]:
names[3]

'Hawking'

In [80]:
names[0+3]

'Hawking'

In [81]:
names[0:3]

['Lovelace', 'Darwin', 'Curie']

In [82]:
names[0:2]

['Lovelace', 'Darwin']

In [83]:
names[-1]

'Hawking'

In [84]:
%who

age	 alter	 knows_math	 likes_slacking	 name	 name_capital	 names	 size

In [85]:
authors_and_birth_years = {"Lovelace": 1882,
                           "Darwin": 1809, 
                           "Noether": 1942}

In [86]:
authors_and_birth_years["Darwin"]

1809

In [87]:
names

['Lovelace', 'Darwin', 'Curie', 'Hawking']

In [88]:
for name in names:
    print(name)

Lovelace
Darwin
Curie
Hawking

In [90]:
for name in names:
    print(name + "did awesome stuff.")
    print("Is a scientist")

Lovelacedid awesome stuff.
Is a scientist
Darwindid awesome stuff.
Is a scientist
Curiedid awesome stuff.
Is a scientist
Hawkingdid awesome stuff.
Is a scientist

#Bedingte Anweisugen (Conditionals)

In [91]:
temp = 20
if temp > 15:
    print("It's warm")

It's warm

In [92]:
20 > 15

True

In [93]:
20 > 70

False

In [96]:
temp = 10
if temp > 15:
    print("It's warm")
else:
        print("It's cold")

It's cold

In [97]:
temp = 10
if temp > 25:
    print("It's hot")
elif temp > 15:
    print("It's warm")
else:
        print("It's cold")

It's cold

In [98]:
temp = 18
if temp > 15:
    print("It's hot")
elif temp > 25:
    print("It's warm")
else:
        print("It's cold")

It's hot